# append these lines to .gitconfig file
# .gitconfig file should be located in %userprofile%

[alias]
	ls = log --oneline
	go = !git fetch && git checkout
	st = status
	res = "!f() { git reset HEAD~$1; }; f"
	p = pull