# append these lines to .gitconfig file
# .gitconfig file should be located in %userprofile%

[alias]
	ls = log --oneline
	
[alias]
	go = !git fetch && git checkout

[alias]
	st = status

[alias]
	res = "!f() { git reset HEAD~$1; }; f"